.alpha-num{
a{
    margin: 10px;
    font-size: 22px;
}
}
.shows{
    a{
        margin: 10px;
       
    }
    }
    .container-fluid{
        background-color: #f4f6f8;
    }
    .small-container{
        background-color:#f6f6f6;
    }

    .form-control {
        margin-left: 870px;
    }

  
